/* NOTICE FIRST - flex-grow */
/*  Integer (Number) and wieviel unsere item along main axis größer wird
    and it fill unused space (ungenuzten Raum zu füllen) */
/* default: flex-grow: 0 */

.container {
  width: 550px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  background-color: bisque;
  /* padding: 10px; */
  /* default: flex-direction: row */
  /* flex-direction: column; */
}

.item-1 {
  background-color: orange;

  flex-grow: 1;
}
.item-2 {
  background-color: olivedrab;
  flex-grow: 2;
}
.item-3 {
  background-color: red;
  flex-grow: 3;
}
.item-4 {
  background-color: lightblue;
  flex-grow: 4;
}
.item-5 {
  background-color: lightcoral;
  flex-grow: 1;
}

/* ------------------- */
/*  One element has a flex-grow of 2, and the other has a flex-grow of 1. 
The total number of flex-grow units will be 3. 
The available space in the flex container is then going to be divided by 3.
The first item (flex-grow:2;) will get 2 pieces of the available space, and the second item (flex-grow:1;) will get 1 piece of the available space.
 This doesn’t mean that the first item will be twice as big as the second. 
  The second item will have 1/3 of the available space. */
header {
  border: 1px solid grey;
  display: flex;
}

h1 {
  margin: 0;
  background: pink;
  /* 1/3 */
  flex-grow: 1;
  /* flex-shrink: 1; */
}

nav {
  background: orange;
  /* 2/3 */
  flex-grow: 2;
  /* flex-shrink: 0; */
}

ul {
  list-style: none;
  margin: 0;
}

/* NOTICE SECOND - flex-shrink */
/* flex-shrink by default is 1 und that means your elements will shrink until you tell them not to! */
/* ignore when flex-wrap is enabled  */
/* to prevent overflow */
/* Integer (Number) and wieviel unsere item along main axis */
/*  flex-shrink is about proportions (Anteil). If one box has flex-shrink of 6, and the rest have flex-shrink of 2, 
the one box will shrink 3x as fast as the rest, as space compresses. */
/* flex-wrap hat Vorrang vor flex-shrink, es sei denn the item is breiter als the container. */

/* NOTICE THIRD - flex-basis */
/* default value: auto */
/* initial size of the item */
/* length or % */
/* it applied before flex-grow and flex-shrink */
#content {
  display: flex;
  width: 500px;
}

#content div {
  flex-basis: 100px;
  /* border: 3px solid rgba(0, 0, 0, 0.2); */
}

.box {
  /* flex-grow: 1; */
  /* Nothing happend cause we don't override 500px */
  flex-shrink: 1;
}

.box1 {
  /* flex-grow: 2; */
  /* Nothing happendm cause we don't override 500px */
  flex-shrink: 2;
}
/* NOTICE flex: shorthand for <flex-grow> <flex-shrink> <flex-basis> */
/* IT IS LIKE <MAX> <MIN> <IDEAL SIZE> */
/* default flex: flex: 0 1 auto; */
/* flex: 1 0 200px; means it will minimum 200px (basis) and will breiter if there is extra space */
/* flex: 0 1 200px; means it can be kleiner and basis is 200px  */

/* NOTICE Order */
/* order value is integer or number and default 0 */
.flex-container {
  width: 400px;
  height: 150px;
  border: 1px solid #c3c3c3;
  display: flex;
}
.flex-container li {
  width: 70px;
  height: 70px;
}
.flex-item-1 {
  order: 1;
}
.flex-item-2 {
  order: 2;
}
.flex-item-3 {
  order: 3;
}
.flex-item-4 {
  order: 4;
}
.flex-item-5 {
  order: 5;
}
/* SECOND EXAMPLE */
.box-order {
  display: flex;

  flex-direction: row;
}
.box-order div {
  background-color: orange;
  margin: 10px;
  padding: 10px;
}
.box-order :nth-child(1) {
  order: 2;
}
.box-order :nth-child(2) {
  order: 3;
}
.box-order :nth-child(3) {
  order: 1;
}
.box-order :nth-child(4) {
  order: 3;
}
.box-order :nth-child(5) {
  order: 1;
}

/* NOTICE align-self */
/*  <!-- align-self: how the item aligned on the cross axis  -->
    <!-- and it override align-items -->
    <!-- Ignored if item has margin:auto on cross axis -->
    <!-- auto (default), center, flex-start, flex-end, stretch, baseline --> */
#main {
  width: 220px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
}

#main div {
  flex: 1;
}

#myBlueDiv {
  align-self: baseline;
}

/* NOTICE display:flex and margin: auto */
.parent {
  display: flex;
  height: 400px;
  background-color: #222;
}

.child {
  background-color: red;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-top: auto;
  /* margin: auto; */
  /*  margin-top: auto;
  margin-left: auto; */
}
/* NOTICE Media query and flexbox */
.parent-query {
  display: flex;
}
.parent-query div {
  background-color: red;
}
@media (max-width: 600px) {
  .parent-query {
    flex-direction: column;
  }
  .parent-query div {
    background-color: yellow;
    width: 20rem;
    /* flex: 1 1 200px; */
    /* display: block; */
  }
}
/* flex-grow: comedy 6 and romance 3 */
